:root {
    --font: Arial, Helvetica, sans-serif;
    --text: rgb(222, 222, 222);
    --alt-text: rgb(197, 197, 197);
}
html, button {
    font-family: var(--font);
}

body {
    min-height: 100vh;
    overflow: hidden !important;

    background-color: rgb(32, 32, 32);
    color: var(--text);
    margin: 0;
    font-size: 75px;

    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
body:active { cursor: grabbing; }
h3 { margin: 0; }
.alt_text { color: var(--alt-text); }
.emphasize { color: white; font-weight: bold; }
.flex { display: flex; }

/* Info */
#info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(calc(-100% + 64px));

    max-width: 100%;
    padding: 12px 24px 24px 16px;
    font-size: 12pt;
    color: gray;
    transition-property: color, transform;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}
#info:hover,
#info:focus-visible,
#info:focus-within {
    color: var(--text);
    transform: none;
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
}
#info * { margin: 0; }
.header_hover {
    font-size: 36pt; font-weight: bolder; padding-left: 24px;
}

a { color: rgb(36, 138, 255); }
a:hover { text-decoration: none; }

/* Container */
#scene_container {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 10em;
    perspective-origin: 50% 50%;
}

/* 3D cube CSS by Amit Sheen */
.scene {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
}
.scene * {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: inherit;
}
/* .side {
    transition: transform 0.5s ease;
    backface-visibility: hidden;
} */




/* .l, .r, .f, .b {
    position: absolute;
    width: 100%;
    height: 100%;
}
.f {transform: translateZ(1em);}
.r {transform: rotateY(90deg) translateZ(1em);}
.b {transform: rotateY(180deg) translateZ(1em);}
.l {transform: rotateY(270deg) translateZ(1em);}

.u {
    width: 2em;
    height: 2em;
    box-shadow: 0 0 0.5em #000a inset;

    position: absolute;
    transform: translateY(-50%) rotateX(90deg);
}
.d {
    width: 2em;
    height: 2em;

    position: absolute;
    bottom: 0;
    transform: translateY(50%) rotateX(-90deg);
} */

/* Rotation */
body[data-tool="none"] .side::after {
    content: url(./assets/rotate.svg);
    transform: translateZ(0.1em);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: drop-shadow(0 0 16px black);
    padding: 0.15em;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
body[data-tool="none"] .side:hover::after {
    transform: translateZ(0.25em);
    opacity: 0.5;
}
body[data-tool="none"].shift_key .side::after {
    transform: translateZ(0.1em) scale(-1, 1);
}


/* Render semi-flat */
/* .semi_flat .side { backface-visibility: unset;} */
/* .semi_flat .l,
.semi_flat .r,
.semi_flat .f,
.semi_flat .b {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000a inset;
}
.semi_flat .f  { transform: translateX(0em); }
.semi_flat .r  { transform-origin: right;   transform: rotateY(15deg) translateX(2em); }
.semi_flat .b  { transform-origin: left;  transform: rotateY(-30deg) translateX(-3.94em) translateZ(0.5em);}
.semi_flat .l  { transform-origin: left;  transform: rotateY(-15deg) translateX(-2em); }
.semi_flat .u {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000a inset;

    transform-origin: bottom;
    transform: translateY(-2em) rotateX(15deg);
}
.semi_flat .d {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;

    transform-origin: top;
    transform: translateY(2em) rotateX(-15deg);
} */




/* Flat */
/* .render_flat { overflow: auto !important; }
.render_flat #scene_container {
    overflow: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;

    perspective: unset;
    perspective-origin: unset;
}
.render_flat #cube {
    transform: translate(5em, 3em) !important;
}
.render_flat .l,
.render_flat .r,
.render_flat .f,
.render_flat .b {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000a inset;
}
.render_flat .f {transform: translateX(0em);}
.render_flat .r {transform: translateX(2em);}
.render_flat .b  {transform: translateX(-4em);}
.render_flat .l  {transform: translateX(-2em);}
.render_flat .u {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000a inset;

    transform: translateY(-2em);
}
.render_flat  .d {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;
    
    transform: translateY(2em);
} */





#cube {
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    bottom: -1em;
    left: -1em;

    /* transform: rotateY(40deg); */
    transition: transform 0.032s linear;
}
/* .side, .row {
    width: fit-content;
    height: fit-content;
} */

.square {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    /* width: 36px; */
    /* height: 36px; */
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
    /* transition: box-shadow 0.1s ease; */
}
.square:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 1) inset;
    filter: brightness(90%);
}
.panel .square {
    width: 42px;
    height: 42px;
}

/* -------- NEW ---------- */
/* .corner { display: flex; } */
#cube > div {
    position: absolute;
    width: 2em;
    height: 2em;

    transform: translateZ(1em);
    transition: transform 1s ease;
}
.part {
    pointer-events: none;
}
.square {
    /* backface-visibility: hidden; */
    pointer-events: all;
}
.edge, .center {
    padding-left: 50px;
    box-sizing: border-box;
}
.center { padding-top: 50px; }
.edge {
    /* outline: 5px solid white; */
    backface-visibility: hidden;
}
/* .edge .square:nth-child(1) {
    position: absolute;
} */
.corner .square:nth-child(1),
.edge .square:nth-child(1) {
    /* outline: 5px solid white; */
    position: absolute;
    bottom: 100%;
    transform-origin: bottom;
    transform: rotateX(90deg);
}
.corner .square:nth-child(2) {
    position: absolute;
    right: 100%; top: 0;
    transform-origin: right;
    transform: rotateY(-90deg);
}


.white  { background-color: rgb(240, 240, 240); }
.yellow { background-color: rgb(236, 215,  26); }
.red    { background-color: rgb(201,  49,  49); }
.orange { background-color: rgb(228, 148,  27); }
.green  { background-color: rgb(  0, 153,   0); }
.blue   { background-color: rgb(  31, 31, 184); }


/* Animation origins */
/* .topleft  { transform-origin: 4.5rem 4.5rem -4.5rem; }
.topmid   { transform-origin: 1.5rem 4.5rem -4.5rem; }
.topright { transform-origin: -1.5rem 4.5rem -4.5rem; } */

/* Rotation animations */
/* .rotatey   { animation: rotate_y 0.5s ease forwards; }
.r_rotatey { animation: r_rotate_y 0.5s ease forwards; }
@keyframes rotate_y     { to { transform: rotateY(90deg); } }
@keyframes r_rotate_y   { to { transform: rotateY(-90deg); } }

.rotatex   { animation: rotate_x 0.5s ease forwards; }
.r_rotatex { animation: r_rotate_x 0.5s ease forwards; }
@keyframes rotate_x     { to { transform: rotateX(90deg); } }
@keyframes r_rotate_x   { to { transform: rotateX(-90deg); } }

.rotatez   { animation: rotate_z 0.5s ease forwards; }
.r_rotatez { animation: r_rotate_z 0.5s ease forwards; }
@keyframes rotate_z     { to { transform: rotateZ(90deg); } }
@keyframes r_rotate_z   { to { transform: rotateZ(-90deg); } } */



/* Controls */
.panel, #panel_toggle {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
}
.panel {
    background-color: #2b2b2bcc;
    backdrop-filter: blur(24px);

    width: max-content;
    max-width: 100%;
    padding: 12px;
    /* padding-bottom: env(safe-area-inset-bottom); */
    font-size: 10pt;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.4s ease;

    z-index: 2;
}
body.hide .panel {
    transform: translateX(-50%) translateY(100%);
}
#panel_toggle {
    box-sizing: border-box;
    background-color: #2b2b2b;

    text-align: center;
    padding-top: 2px;
    font-size: 10pt;

    top: -29px;
    left: 50%;
    transform: translateX(-50%);

    width: 48px;
    height: 26px;

    cursor: pointer;
}


button {
    font-size: 13pt;
    padding: 6px 8px;
    margin: 2px;


    background-color: #4b4b4baa;
    color: var(--text);
    border: 2px solid transparent;
    cursor: pointer;
}
button:hover,
button:focus-visible {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
}
button:active {
    background-color: rgba(100, 100, 100, 0.25);
}
.move_button {
    font-size: 14pt;
    text-align: left;
    width: 38px;
    text-transform: capitalize;
    padding-left: 8px;
}
.swatch {
    filter: brightness(80%);
    cursor: pointer;
}
.swatch.sel {
    filter: brightness(100%);
    outline: 2px solid white;
    z-index: 1;
}


/* #debug {
    font-size: 14pt;
    position: absolute;
    top: 6px;
    right: 12px;
} */


/* Media queries */
@media only screen and (max-height: 650px) {
    body:not(body.hide):not(body.render_flat) .scene {
        transform: translateY(-15vh);
    }
}
